In [3]:
import pandas as pd

In [18]:
data = pd.read_csv("exp2022.csv", sep= ';') # 2008 até 2022
data.head(2)

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,11,46,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,26,95,4,21,0,0,0,0

In [19]:
columns = data.columns

for i in range(2, len(columns), 2):  # Começando de 2 para pular "Id" e "País"
    year = columns[i]
    year_dot = columns[i + 1]
    data[year] = data[year] + data[year_dot]
    data.drop(year_dot, axis=1, inplace=True)

In [20]:
data = data[["Id", "País"] + [str(year) for year in range(2008, 2023)]]

# Visualizar as primeiras linhas do dataframe após a combinação
data.head()

,Id,País,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,Afeganistão,0,0,0,0,0,0,0,0,0,0,0,0,0,57,0
1,2,África do Sul,0,0,0,0,0,0,0,0,0,0,0,121,25,0,0
2,3,"Alemanha, República Democrática",695712,618568,166381,180220,64531,327677,975001,55460,82121,103169,56176,29127,38866,9439,52997
3,4,Angola,96804,139021,223448,82890,11694,10873,35306,18997,42749,71850,1186,1410,0,0,8829
4,5,Anguilla,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0